body, html {
    margin: 0; /* Remove margin */
    padding: 0; /* Remove padding */
    width: 100%; /* Breite des Bereichs anpassen */
    height: 100%; /* Höhe des Bereichs anpassen */
    overflow: hidden; /* Hide scrollbars */
    display: flex; /* Display the body in a column */
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
    font-family: 'Montserrat', sans-serif; /* Change font family */
}
.grid-container {
    display: grid; /* Display the images in a grid */
    grid-template-columns: 1fr 1fr; /* Create two columns */
    grid-template-rows: 1fr 1fr;    /* Create two rows */
    gap: 0; /* Remove any gap */
    width: 100vw; /* Ensure the grid container fills the viewport width */
    height: 100vh; /* Ensure the grid container fills the viewport height */
}
.grid-item {
    width: 100%; /* Fill the whole area */
    height: 100%; /* Fill the whole area */
    margin: 0; /* Remove any margin */
    padding: 0; /* Remove any padding */
    position: relative; /* Position the grid items relative to their container */
}
.grid-item img {
    width: 100%; /* Cover the whole area */
    height: 100%; /* Cover the whole area */
    object-fit: cover; /* Ensure the images fill the grid cells */
    display: block; /* Remove any inline spacing */
}
.grid-item .label {
    position: absolute; /* Position the label absolutely within the grid item */
    top: 100%; /* Center the label vertically */
    left: 5%; /* Align the label to the left */
    transform: translateY(-50%) rotate(-90deg); /* Center the label and rotate it 90 degrees */
    transform-origin: left center; /* Set the origin for the rotation */
    color: rgb(255, 0, 0); /* Set the text color to white */
    padding: 5px; /* Add some padding */
    font-size: 5em; /* Increase the font size */
    white-space: nowrap; /* Prevent the text from wrapping */
    font-weight: bold; /* Make the text bold */
}
.grid-item .label_right {
    position: absolute; /* Position the label absolutely within the grid item */
    top: 100%; /* Center the label vertically */
    left: 95%; /* Align the label to the left */
    transform: translateY(-50%) rotate(-90deg); /* Center the label and rotate it 90 degrees */
    transform-origin: left center; /* Set the origin for the rotation */
    color: #ff0000; /* Set the text color to white */
    padding: 5px; /* Add some padding */
    font-size: 5em; /* Increase the font size */
    white-space: nowrap; /* Prevent the text from wrapping */
    font-weight: bold; /* Make the text bold */
}