body, html {
    margin: 0; /* Remove margin */
    padding: 0; /* Remove padding */
    width: 100%; /* Breite des Bereichs anpassen */
    height: 100%; /* Höhe des Bereichs anpassen */
    overflow: hidden; /* Hide scrollbars */
}
.container {
    display: flex; /* Display the images in a row */
    width: 100%; /* Breite des Bereichs anpassen */
    height: 100%; /* Höhe des Bereichs anpassen */
    position: relative; /* Position the text */ 
}
.container a {
    flex: 1; /* Fill the whole area */
    position: relative; /* Position the text */
}
.container img {
    width: 100%; /* Cover the whole area */
    height: 100%; /* Cover the whole area */
    object-fit: cover; /* Cover the whole area */
}
.overlay-text {
    position: absolute;
    top: 50%; /* Center the text vertically */
    left: 50%; /* Center the text horizontally */
    transform: translate(-50%, -50%); /* Center the text */
    color: #ff0000; /* Change text color */
    padding: 10px; /* Change padding */
    font-family: 'Montserrat', sans-serif; /* Change font family */
    font-size: 5rem; /* Change font size */
    text-align: center; /* Center the text */
    font-weight: bold; /* Make the text bold */
    display: inline-block; /* Make background fit the text */
}